/* CSS DIRECTORY
	1. =GLOBAL
  2. =FONTS
  3. =PRIMARY
  4. =SECONDARY
  5. =MEDIA
  6. =HOMEPAGE
  7. =THEME
  8. =ITEMS
  9. =TEXT
  10. =FOOTER
  11. =DESKTOP-ONLY
  12. =ANIMATIONS
*/

/* ===GLOBAL=== */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  --international-orange: #ff4f00;
  --dodger-blue: #0197f6;
  --space-cadet: #2b2d42;
  --maximum-yellow: #f8f32b;
  --very-white: #ffffff;
  --very-black: #000000;
}

html {
  scroll-behavior: smooth;
  font-size: calc(15px + 0.390625vw);
}

/* ===FONTS=== */

@font-face {
  font-family: "space-grotesk";
  src: url("fonts/SpaceGrotesk-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "space-grotesk";
  src: url("fonts/SpaceGrotesk-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "space-mono";
  src: url("fonts/SpaceMono-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic, oblique;
}

@font-face {
  font-family: "space-mono";
  src: url("fonts/SpaceMono-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "space-mono";
  src: url("fonts/SpaceMono-Italic.ttf") format("truetype");
  font-style: italic, oblique;
}

@font-face {
  font-family: "space-mono";
  src: url("fonts/SpaceMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "hyperlegible";
  src: url("fonts/AtkinsonHyperlegible-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic, oblique;
}

@font-face {
  font-family: "hyperlegible";
  src: url("fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "hyperlegible";
  src: url("fonts/AtkinsonHyperlegible-Italic.ttf") format("truetype");
  font-style: italic, oblique;
}

@font-face {
  font-family: "hyperlegible";
  src: url("fonts/AtkinsonHyperlegible-Regular.ttf") format("truetype");
}

/* ===PRIMARY=== */

body {
  width: min(90vw, 1200px);
  margin: auto;
  background: var(--very-white);
  font-family: "hyperlegible", sans-serif;
  line-height: 1.6;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

::selection {
  background-color: var(--international-orange);
  color: var(--very-white);
}

a {
  font-family: "space-mono", monospace;
  color: var(--international-orange);
  text-decoration: underline;
  letter-spacing: -0.05rem;
}

ul {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

/* ===SECONDARY=== */

.row {
  position: relative;
  display: block;
  width: 100%;
}

.column {
  display: block;
  position: relative;
  float: left;
  height: 100%;
  width: 100%;
}

.arrow {
  font-family: "space-mono", monospace;
  color: #e0e0e0;
  text-decoration: none;
  padding: 0.5rem;
}

.arrow:hover {
  color: var(--international-orange);
}

/* ===MEDIA=== */

img {
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.video-container iframe {
  border-radius: 1.5rem;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

video {
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.splide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.splide button {
  background: var(--space-cadet);
  opacity: 0.8;
}

.splide button.is-active {
  background: var(--international-orange);
  opacity: 0.8;
}

/* ===HOMEPAGE=== */

.homepage {
  height: 100vh;
  display: block;
  font-family: "space-grotesk", sans-serif;
}

.homepage-arrow {
  position: absolute;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
  width: 3rem;
  left: calc(50% - 1.5rem);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: "space-mono", monospace;
  color: #e0e0e0;
  text-decoration: none;
  padding: 0.5rem;
}

.homepage-arrow:hover {
  color: var(--international-orange);
}

.me img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

/* ===THEMES=== */

.theme-row {
}

.theme-column {
  width: 5%;
  padding-right: 5%;
}

.theme-sticky {
  margin-bottom: 1rem;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "space-mono", monospace;
  font-weight: bold;
  white-space: nowrap;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  padding-top: 3rem;
  font-size: 1.5rem;
}

/* ===ITEMS=== */

.item-column {
  width: 90%;
}

.item-row {
}

.item-sticky {
}

.item-body {
}

/* ===TEXT=== */

.title {
  display: none; /* Hide on mobile */
  font-family: "space-mono", monospace;
  font-weight: bold;
  color: var(--international-orange);
  font-size: 3.5rem;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
}

.text {
  display: block;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text a::after {
  content: ">>";
}

.text a:hover {
  font-style: italic;
}

.shorttitle {
  display: block;
  font-family: "space-mono", monospace;
  font-weight: bold;
  color: var(--international-orange);
  font-size: 2.5rem;
  padding-top: 2rem;
}

.date {
  display: block;
  font-family: "space-mono", monospace;
  font-weight: bold;
  font-style: italic;
  font-size: 2rem;
}

.subtitle {
  display: block;
  font-size: 1.3rem;
  font-family: "space-grotesk", sans-serif;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.highlights {
  display: block;
  font-family: "hyperlegible", sans-serif;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.highlights::before {
  font-family: "space-grotesk", sans-serif;
  font-weight: bold;
  content: "Highlights:";
}

.highlights a::after {
  content: ">>";
}

.highlights a:hover {
  font-style: none;
}

.duration {
  display: block;
  font-family: "space-grotesk", sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.location {
  display: block;
  font-family: "space-grotesk", sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.location::before {
  content: "@ ";
}

.thanks {
  display: block;
  font-family: "space-grotesk", sans-serif;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.thanks::before {
  content: "With thanks to ";
}

/* ===FOOTER=== */

.footer {
  display: block;
  text-align: end;
  font-family: "space-grotesk", sans-serif;
}

/* ===DESKTOP-ONLY=== */

@media only screen and (min-width: 1000px) {
  /* =HOMEPAGE= */

  .homepage {
    font-size: 1.4rem;
  }

  /* =THEMES= */

  .theme-row {
    margin-bottom: 75px;
  }

  .theme-sticky {
    font-size: 2.5rem;
    padding-top: 5rem;
  }

  /* =ITEMS= */

  .item-sticky {
    width: 28%;
    display: block;
    margin-bottom: 1rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
  }

  .item-body {
    position: absolute;
    top: 0;
    left: 35%;
  }

  /* =TEXT= */

  .title {
    display: block;
    font-size: 3.5rem;
  }

  .shorttitle {
    display: none;
  }

  .date {
    font-size: 3.5rem;
    padding-top: 3.5rem;
    margin-bottom: 2rem;
  }
}

/* ===ANIMATION=== */

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
