{% extends 'base.html' %} {% block container %} {% for theme, content in timelines.items() %}

<div class="timeline-column timeline" id="{{ theme }}">
  <div class="timeline-row timeline-theme-row">
    <div class="timeline-column timeline-theme-column">
      <div class="timeline-theme-sticky"><a class="timeline-arrow"><</a>{{ theme }}<a class="timeline-arrow">></a></div>
    </div>
    <div class="timeline-column timeline-item-column">
      {% for identifier, timeline in content.items() %}
      <div class="timeline-row timeline-item-row" id="{{ identifier }}">
        <div class="timeline-item-sticky">
          <span class="timeline-shorttitle">{{ timeline['shorttitle'] }}</span>
          <span class="timeline-date"><a class="timeline-arrow"><</a>{{ timeline['date'] }}<a class="timeline-arrow">></a></span>
          <span class="timeline-subtitle">{{ timeline['subtitle'] }}</span>
          <span class="timeline-highlights">
            <ul>
              {% for highlight in timeline['highlights'] %}
              <li>{{ highlight }}</li>
              {% endfor %}
            </ul></span
          >
          <span class="timeline-duration">{{ timeline['duration'] }}</span>
          <span class="timeline-location">{{ timeline['location'] }}</span>
          <span class="timeline-thanks">{{ timeline['thanks'] }}</span>
        </div>
        <div class="timeline-item-body">
          <span class="timeline-title">{{ timeline['title'] }}</span>
          {% for (media, text) in timeline['body'] %}
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                {% for item in media %}
                <li class="splide__slide">{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <span class="timeline-text">{{ text }}</span>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endfor %}{% endblock %}
