{% extends 'base.html' %} {% block container %} {% for theme, content in timelines.items() %}

<column id="{{ theme }}">
  <row class="timeline-theme-row">
    <column class="timeline-theme-column"
      ><timeline-sticky class="timeline-theme-sticky"><a class="timeline-arrow"></a>{{ theme }}<a class="timeline-arrow"></a></timeline-sticky
    ></column>
    <column class="timeline-item-column">
      {% for identifier, timeline in content.items() %}
      <row id="{{ identifier }}" class="timeline-item-row">
        <timeline-sticky class="timeline-item-sticky">
          <timeline-shorttitle>{{ timeline['shorttitle'] }}</timeline-shorttitle>
          <timeline-date><a class="timeline-arrow"></a>{{ timeline['date'] }}<a class="timeline-arrow"></a></timeline-date>
          <timeline-subtitle>{{ timeline['subtitle'] }}</timeline-subtitle>
          <timeline-highlights>
            <ul>
              {% for highlight in timeline['highlights'] %}
              <li>{{ highlight }}</li>
              {% endfor %}
            </ul></timeline-highlights
          >
          <timeline-duration>{{ timeline['duration'] }}</timeline-duration>
          <timeline-location>{{ timeline['location'] }}</timeline-location>
          <timeline-thanks>{{ timeline['thanks'] }}</timeline-thanks></timeline-sticky
        >
        <timeline-body>
          <timeline-title>{{ timeline['title'] }}</timeline-title>
          {% for (media, text) in timeline['body'] %}
          <div class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                {% for item in media %}
                <li class="splide__slide">{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
          <timeline-text>{{ text }}</timeline-text>
          {% endfor %}</timeline-body
        >
      </row>
      {% endfor %}
    </column>
  </row></column
>{% endfor %}{% endblock %}
